<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		# Rolling appender
		<RollingFile name="roll-by-size"
			fileName="${sys:logdir}/sap_doc_center.log"
			filePattern="target/log4j2/roll-by-size/app.%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 KB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		# Override log level for specified package


		<Logger name="org.saurav.simpletests" level="TRACE">
			<AppenderRef ref="roll-by-size" />

		</Logger>

		<Root level="DEBUG">

			<AppenderRef ref="ConsoleAppender" />

		</Root>
	</Loggers>
</Configuration>
